{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Edit Poster</h1>

    {{ include('admin/poster/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('poster_index') }}">back to list</a>

    {{ include('admin/poster/_delete_form.html.twig') }}
{% endblock %}
