{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1 class="text-center">Créer un nouveau champ "Poster"</h1>

    <div class="text-center">
        <div class="mt-2"> {{ include('admin/poster/_form.html.twig') }}</div>

        <a href="{{ path('poster_index') }}">Retour</a>
    </div>
{% endblock %}
