<form method="post" action="{{ path('ur_policy_delete', {'id': ur_policy.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet objet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ur_policy.id) }}">
    <button class="btn mb-3">Supprimer</button>
</form>
