<form method="post" action="{{ path('ur_policy_delete', {'id': ur_policy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ur_policy.id) }}">
    <button class="btn">Delete</button>
</form>
