{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Edit UrPolicy</h1>

    {{ include('admin/ur_policy/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ur_policy_index') }}">back to list</a>

    {{ include('admin/ur_policy/_delete_form.html.twig') }}
{% endblock %}
