<!DOCTYPE html>

<title>New UrPolicy</title>

{% block body %}
    <h1>Create new UrPolicy</h1>

    {{ include('admin/ur_policy/_form.html.twig') }}

    <a href="{{ path('ur_policy_index') }}">back to list</a>
{% endblock %}
