{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1 class="text-center">Créer un nouveau champ "Notre politique"</h1>
    <div class="text-center">

        <div class="mt-2"> {{ include('admin/ur_policy/_form.html.twig',{'button_label': 'Sauvegarder'}) }}</div>

        <a href="{{ path('ur_policy_index') }}">Retour</a>
    </div>
{% endblock %}
