<form method="post" action="{{ path('who_are_us_delete', {'id': who_are_u.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet objet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ who_are_u.id) }}">
    <button class="btn mb-3">Supprimer</button>
</form>
