{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Créer un nouveau champ "Qui sommes nous ?"</h1>

    <div class="mt-2">{{ include('admin/who_are_us/_form.html.twig', {'button_label': 'Sauvegarder'}) }}</div>

    <a href="{{ path('who_are_us_index') }}">Retour</a>
{% endblock %}
