<div class="outfitcontainer container">
    {% for outfit in outfits %}
        <div class="outfitcard card col-5 mt-5">
            <img src="{{ vich_uploader_asset (outfit, 'imageFile', 'App\\Entity\\Outfits') }}" alt="image">

            <div class="card-body">
                <p class="card-text">{{ outfit.description }}</p>
            </div>
        </div>
    {% else %}
        <div class="card-body">Pas de collection disponible !</div>
    {% endfor %}
</div>
