<div class="container">
    {% for outfit in outfits %}
        <div class="card col-5 mt-5" style="width: 18rem;">
            <img class="card-img-top" src="{{ asset('build/images/{{ outfit.picture }}') }}" alt="{{ outfit.name }}">
            <div class="card-body">
                <p class="card-text">{{ outfit.name }} : Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    {% endfor %}
</div>
