<div class="outfitContainer container-fluid mb-5">
    <div class="testdtm row">
        <div class="testdtm container col-6">
            {% for outfit in outfits %}
                <div class="outfitCard card mt-5">
                    <img class="card-img" src="{{ vich_uploader_asset (outfit, 'imageFile', 'App\\Entity\\Outfits') }}" alt="image">
                    <div class="card-body">
                        <p class="card-text">{{ outfit.description }}</p>
                        <a href="{{ path('outfits_Details', {id: outfit.id}) }}" class="btnOutfit btn">Voir !</a>
                    </div>
                </div>
            {% else %}
                <div class="card-body">Pas de collection disponible !</div>
            {% endfor %}
        </div>
    </div>
</div>
