<div class="outfitcontainer container col-5">
    {% for outfit in outfits %}
        <div class="card mt-5" style="width:400px">
            <img class="card-img-top" src="{{ vich_uploader_asset (outfit, 'imageFile', 'App\\Entity\\Outfits') }}" alt="image">
            <div class="card-body">
                <p class="card-text">{{ outfit.description }}</p>
                <a href="{{ path('outfits_Details') }}" class="btn btn-primary">Voir !</a>

            </div>
        </div>
    {% else %}
        <div class="card-body">Pas de collection disponible !</div>
    {% endfor %}
</div>
