<!DOCTYPE html>

<title>New ASavoir</title>

{% block body %}
    <h1>Create new ASavoir</h1>

    {{ include('asavoir/_form.html.twig') }}

    <a href="{{ path('asavoir_index') }}">back to list</a>
{% endblock %}
