{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
<div class="container container-fluid">
    <h1 class="mt-5 text-center">Edit Social</h1>
    <div class="text-center">

        <div class="mt-2">{{ include('admin/social/_form.html.twig', {'button_label': 'Update'}) }}</div>

        <div class="mt-2">{{ include('admin/social/_delete_form.html.twig') }}</div>

        <a class="mt-2" href="{{ path('social_index') }}">back to list</a>

    </div>
</div>
{% endblock %}
