{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1 class="text-center">Créer un nouveau champ "Social"</h1>
    <div class="text-center">
        <div class="mt-3"> {{ include('admin/social/_form.html.twig',{'button_label': 'Sauvegarder'}) }}</div>

        <a href="{{ path('social_index') }}">Retour</a>
    </div>
{% endblock %}
