<!DOCTYPE html>

<title>New Social</title>

{% block body %}
    <h1>Create new Social</h1>

    {{ include('admin/social/_form.html.twig') }}

    <a href="{{ path('social_index') }}">back to list</a>
{% endblock %}
