@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "navbar";
@import "footer";
@import "outfits";
@import "admin";
@import "cart";
@import "home";


*{
    margin:0;
    padding:0;
}

body {
    background-color: $primary-color;
}

h1, h2, h6, p, li, ul, a {
    color: $secondary-color;
}

.card-element{
    background-color: black;
    font-size: 64px;
    margin: 100px;
}
