@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "navbar";
@import "footer";
@import "outfits";
@import "admin";


/* Blue outline on focus */
.StripeElement--focus {
    border-color: #80BDFF;
}
/* Can't see what I type without this */
#card-number.form-control,
#card-cvc.form-control,
#card-exp.form-control {
    display:block;
}


*{
    margin:0;
    padding:0;
}

body {
    background-color: $primary-color;
}

h1, h2, h6, p, li, ul, a {
    color: $secondary-color;
}
