@import "vars";

.btnOutfit {
  background-color: $sweet-color;
}

.outfitCard {
  background-color: $other-color;
  border-radius: 0.25rem !important;
}

.outfitContainer {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}


@media screen and (max-width: 800px) {
  .testdtm {
  }
  .outfitCard {

  }
}
