@import "vars";

.btnOutfit {
  background-color: $sweet-color;
}

.outfitCard {
  background-color: $other-color;
  border-radius: 0.25rem !important;
}

.testdtm {
  width: 100% !important;
}


@media screen and (max-width: 800px) {
  .testdtm {
    width: 100% !important;
  }
  .outfitCard {

  }
}
