<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home_index') }}">CRAY</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home_index') }}">Menu <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('outfits_index') }}">Collections</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Panier</a>
            </li>
        </ul>
    </div>
</nav>
