<div class="container">
    {% for text in urPolicy %}
        <h2 class="">
            {{ text.title }}
        </h2>

        <p class="">
            {{ text.text }}
        </p>

    {% endfor %}
</div>
