<div class="container">
    {% for text in urPolicy %}
        <h2 class="mt-5">
            {{ text.title }}
        </h2>

        <p>
            {{ text.text }}
        </p>
    {% else %}
            <p>Pas de politique ici poto</p>

    {% endfor %}
</div>
