<div class="container">
    {% for text in whoAreUs %}
        <h2 class="mt-5">
            {{ text.title }}
        </h2>

        <p>
            {{ text.text }}
        </p>
            {% else %}
            <p>Tqt poto on est la</p>
    {% endfor %}
</div>
