<div class="container mt-3">
    {% for text in whoAreUs %}
        <h2 class="">
                {{ text.title }}
            </h2>

            <p class="mb-5">
                {{ text.text }}
            </p>
    {% else %}
            <p>Tqt poto on est la</p>
    {% endfor %}
</div>
