{% extends 'layout.html.twig' %}

{% block main %}
    <div class="container container-fluid mt-5">
        <h2>La marque</h2>
        {% for text in aSavoir %}
            <p class="mt-4">{{ text.resume }}</p>
        {% endfor %}
    </div>

    <div class="container container-fluid mt-3">
        <h2>Les conditions</h2>
        {% for text in urPolicy %}
            <p class="mt-4">{{ text.text }}</p>
        {% endfor %}
    </div>
{% endblock %}
