{% extends 'layout.html.twig' %}

{% block main %}
    <div class="container container-fluid">
        <h2>La marque et conditions</h2>
        {% for text in aSavoir %}
            <p class="mt-4">{{ text.resume }}</p>
        {% endfor %}
    </div>
{% endblock %}
