<!DOCTYPE html>

<title>New WhoAreUs</title>

{% block body %}
    <h1>Create new WhoAreUs</h1>

    {{ include('who_are_us/_form.html.twig') }}

    <a href="{{ path('who_are_us_index') }}">back to list</a>
{% endblock %}
