<!DOCTYPE html>

<title>Edit Outfits</title>

{% block body %}
    <h1>Edit Outfits</h1>

    {{ include('admin/outfits/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('outfits_index') }}">back to list</a>

    {{ include('admin/outfits/_delete_form.html.twig') }}
{% endblock %}
