<div class="outfitcontainer container col-5">
        <div class="card mt-5" style="width:400px">
            <img class="card-img-top" src="{{ vich_uploader_asset (outfit, 'imageFile', 'App\\Entity\\Outfits') }}" alt="image">
            <div class="card-body">
                <p class="card-text">{{ outfit.description }}</p>
            </div>
        </div>
</div>
