{% extends 'layout.html.twig' %}

{% block main %}
<div class="outfitcontainer container col-5">
        <div class="card mt-5" style="width:400px">
            <img class="card-img-top" src="{{ vich_uploader_asset (outfit, 'imageFile', 'App\\Entity\\Outfits') }}" alt="image">
            <div class="card-body">
                <p class="card-text">{{ outfit.description }}</p>
                <p class="card-text">{{ outfit.price }}€n</p>

                <a href="{{ path('cart_add', {'id': outfit.id}) }}" class="btn btn-primary">Ajouter au panier</a>
            </div>
        </div>
</div>
{% endblock %}
