<form method="post" action="{{ path('declinaison_delete', {'id': declinaison.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce champ ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ declinaison.id) }}">
    <button class="btn mb-3">Supprimer</button>
</form>
