{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Create new Declinaison</h1>

    {{ include('admin/declinaison/_form.html.twig') }}

    <a href="{{ path('declinaison_index') }}">back to list</a>
{% endblock %}
