<!DOCTYPE html>

<title>New Declinaison</title>

{% block body %}
    <h1>Create new Declinaison</h1>

    {{ include('admin/declinaison/_form.html.twig') }}

    <a href="{{ path('declinaison_index') }}">back to list</a>
{% endblock %}
